.items {
  height: -webkit-fill-available;
  width: 33%;
}

.properties {
  margin: 0 auto;
  height: -webkit-fill-available;
  width: 33%;
}
.form {
  height: -webkit-fill-available;
  width: 33%;
}
.formBuilder {
  height: -webkit-fill-available;
  display: flex;
}
.itemsButton{
  margin: 5px auto;
  width: 97%!important;
  list-style: none;
}
